@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
}

label {
  display: block;
  margin-right: 12px;
}

input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

.error {
  outline: 1px solid red;
}

.entrada {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.parametro {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.parametro-k {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.senal {
  margin: 0 auto;
  padding: 10px;
}

.resultado {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
}

#slider_k {
  /* margin: 0 auto; */
  width: 60%;
}
